.image {
  width: 100%;
  /* overflow: hidden; */
  /* width: 80%; */
  margin: 1rem 0;
}

img {
  width: 100%;
  height: auto;
}

.top-box {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
}

.svg-working {
  overflow: visible;
}

.shorten-svg,
.boost-svg {
  background-color: hsl(var(--primary-dark-violet));
}

.info-box {
  margin: 2rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.info-box > h3 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0.5rem 0;
}

.info-box > p {
  color: var(--neutral-grayish-violet);
  text-align: center;
  margin: 0.5rem 0;
}

@media (min-width: 800px) {
  .image {
    order: 2;
    flex: 1;
  }

  .top-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .info-box {
    align-items: flex-start;
    flex: 1;
  }

  .info-box > h3 {
    text-align: left;
    font-size: 2.5rem;
    padding-right: 1rem;
  }

  .info-box > p {
    text-align: left;
    color: hsl(var(--neutral-gray));
    padding-right: 1rem;
  }

  .info-box > button {
    margin-top: 1rem;
  }
}

@media (min-width: 1100px) {
  .info-box > h3 {
    font-size: 3.5rem;
    /* width: 80%; */
  }

  .info-box > p {
    font-size: 20px;
    width: 80%;
  }

  .top-box svg {
    width: 400px;
    height: 500px;
  }
}
